<!DOCTYPE html>
<html>
<head>
    <title>Customer Data</title>
</head>
<body>
    <h1>Customer Data</h1>
    <table>
        <tr>
            <th>Account Number</th>
            <td>{{ customer.acno }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ customer.name }}</td>
        </tr>
        <tr>
            <th>Pancard</th>
            <td>{{ customer.pancard }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ customer.email }}</td>
        </tr>
        <tr>
            <th>Balance</th>
            <td>{{ customer.Balance }}</td>
        </tr>
    </table>
</body>
</html>
