<!DOCTYPE html>
<html>
<head>
    <title>Money Transfer</title>
    <link rel="stylesheet" href="static/s.css">
</head>
<body>
    <h1>Money Transfer</h1>
    <form method="POST">
        <label for="from_acno">From Account Number:</label>
        <input type="text" name="from_acno" required><br>

        <label for="to_acno">To Account Number:</label>
        <input type="text" name="to_acno" required><br>

        <label for="amount">Amount to Transfer:</label>
        <input type="text" name="amount" required><br>

        <input type="submit" value="Transfer">
    </form>
</body>
</html>
